.MenuAnchorPane {
    -fx-background-color: #FFFFFF;
}

.MenuAnchorPane Button {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.MenuAnchorPane Button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.26;
    -fx-scale-y: 1.2;
}

.MenuBar {
    -fx-background-color: linear-gradient(to top right,#752e65, #44008b);
}

.ExitButton{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
}
.ExitButton:hover{
    -fx-background-color: #b22a00;
}

.MenuBarButton {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-padding: 0 0 0 10;
    -fx-background-insets: 0;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
}

.MenuBarButton:hover {
    -fx-background-color: #c6a1d6;
}

.NumberProcess {
    -fx-background-color: transparent;
}

.NumberProcess Button:hover {
    -fx-cursor: hand;
}

.NumberProcess Label {
    -fx-font-weight: bold;
}

.AddProcess {
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.AddProcess Label {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.AddProcessTextField {
    -fx-background-color: #EEEEEE;
    -fx-pref-height: 25;
    -fx-font-size: 1.2em;
}

.AddProcess Button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
}

.AddProcess Button:hover {
    -fx-cursor: hand;
}

.ExecuteButton {
    -fx-background-color: #FFFFE2;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #4c4c4c, 10, 0, 0, 2);
}

.ExecuteButton:hover {
    -fx-cursor: hand;
}

.RemoveButton {
    -fx-background-color: transparent;
}

.RemoveButton:hover {
    -fx-cursor: hand;
}

.ErrorLabel {
    -fx-text-fill: #FF0000;
    -fx-font-weight: bold;
}


